body{
	font-family: Arial, sans-serif;
}
.container {
	height: 100%;
	display: none;
}
.loader {
	width: 100%;
	height: 100%;
	background-color: #2a3d50;
	position: relative;
}
.loader_name {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	line-height: 20px;
}

.loader_items{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%, calc(-50% - 24px));
	animation: loading 1s ease infinite;
}

.loader_item {
	width: 12px;
	height: 12px;
	border: 1px solid #d75c09;
	border-radius: 50%;
	display: inline-block;
	animation: loadingColor 1s ease infinite;
}

.loader_item:nth-child(1){
	animation-delay: 0s;
}
.loader_item:nth-child(2){
	animation-delay: 0.2s;
}
.loader_item:nth-child(3){
	animation-delay: 0.4s;
}


@keyframes loading {
	0%{
		transform: translate(calc(-50% - 24px), calc(-50% - 24px));
	}
	
	50%{
		transform: translate(calc(-50% + 24px), calc(-50% - 24px));
	}
	100%{
		transform: translate(calc(-50% - 24px), calc(-50% - 24px));
	}
}

@keyframes loadingColor {
	0%{
		background-color: #d75c09;
	}
	
	50%{
		background-color: rgba(234, 119, 0, 0.5);
		border-radius:rgba(234, 119, 0, 0.5); 
	}
	100%{
		background-color: #d75c09;
		border-radius: #d75c09;
	}
}


nav {
	width: 100%;
	height: 60px;
	background: #2b3e51;
	position: fixed;
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 386px;
	float:left;	
	animation: coming 2s ease;
}

.menu{
	float:left;
	padding-left: 420px;	
}

.menu li{
	float:left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 14px;
	text-transform: uppercase;
	animation: topshift 0.4s ease forwards;
	opacity: 0;
}

.menu li a{
	transition: all 0.1s;
	color:  #fff;
	transform: scale(1);
	display: inline-block;
}

.menu li a:visited{
	color: #fff;
}

.menu li a:hover{
	color: #f99b06;
}

.menu li a:active{
	transform: scale(1.1);
}

main {
	width: 100%;
	height: 100%;
}


.main{
	width: 100%;
	height: 100%;
	background:url("../img/Парень.png") 90% 100%/auto 85% no-repeat , url("../img/фон.jpg") center/cover no-repeat;
}

.title_container{
	float: left;
	margin: 350px 0px 0px 300px;
	color: #21354a;
	text-align: center;
	opacity: 0;
	animation: titlemove 1s ease forwards;
	animation-delay: 2.4s;
}

.title_container h1{
	font-size: 60px;
	font-weight: bold;	
}

.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #76828f;
}

.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #697784;
	border-radius: 5px;
	background: none;
	color: #697784;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
}

.title_container input{
	transition: all 0.2s;
}

.title_container input:hover{
	background: #2b3e51;
	color: #fff;
	transform: scale(1);
}

.title_container input:active{
	transform: scale(1.1);
}

@keyframes coming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes topshift{
	from{
		opacity: 0;
        margin: -80px;
	}
	to {
		opacity: 1; 
	}
}

@keyframes titlemove{
	from{
		opacity: 0;
        margin-left: -500px;
	}
	to {
		opacity: 1;
		margin-left: 300px; 
	}
}

.menu li:nth-child(2){
	animation-delay: 0.4s;
}
.menu li:nth-child(3){
	animation-delay: 0.8s;
}
.menu li:nth-child(4){
	animation-delay: 1.2s;
}
.menu li:nth-child(5){
	animation-delay: 1.6s;
}
.menu li:nth-child(6){
	animation-delay: 2s;
}



.about_me{
	width: 100%;
	height: 90%;	
}

.inform{
	float: left;
	margin: 109px 500px 0px 500px;
	text-align: center;
}

.inform h3{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	width:100%;
    white-space:nowrap;
	display: inline-block;
	animation: tit_one 4s linear infinite;
}

@keyframes tit_one{
	from {transform: translate(-40%, 0);}
	to {transform: translate(35%, 0);}
}


.picture_1{
	margin-top: 30px;
}

.picture_2{
	margin-top: 60px;
}

.inform p{
	margin: 20px;
	font-size: 12px;
	text-align: left;
}

.resume{
	float: left;
	margin:40px 0px 0px 765px;
	text-align: center;
	border: 2px solid #697784;
	border-radius: 5px;
	color: #697784;
	padding: 0px 10px;
	margin-top: 20px;
	width: 160px;
	height: 30px;
}

.resume:hover{
	transform: scale(1.1);
}
.resume:active{
	transform: scale(1.0);
}

.resume input{
	font-size: 14px;
	color: #697784;
	text-align: center;
	background: none;
	height: 30px; 
	transition: all 0.2s;
}

.picture_3{
	padding-top: 7px;
}



.i_can{
	width: 100%;
	height: 80%;
	background: url("../img/картинка фона.jpg") center/cover no-repeat;	 
}


.inform_2{
	float: left;
	margin: 109px 700px 0px 750px;
	text-align: center;
}
.inform_2 h3{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.animate__zoomInUp{
   animation-duration: 2s;
   animation-iteration-count: infinite;
}


.picture_4{
	margin-top: 30px;
}

.item_skills {
	float:left;
	margin: 150px 80px;
	text-align: center;
	font-size: 18px;
}	

.item_skills h4{
	font-size: 20px;
	font-weight: bold;
	color: #e87600;
	margin-top: 30px;
}	

.item_skills p{
	margin-top: 25px;
}

.item_skills{
	transition: all 0.2s;
}

.item_skills:hover{
	background: rgba(235, 120, 0, 0.1);
	border-radius: 5%; 
	transform: scale(1.2);
}


.case{
	width: 100%;
	height: 100%;
}

.inform_3{	
	margin: 109px 700px 0px 700px;
	text-align: center;
}
.inform_3 h3{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.inform_3 img{
	margin-top: 30px;
}	

.animate__rotateIn{
	animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lorem{
	font-size: 14px;
	text-align: center;
	margin-top: 30px;
}
.lorem img{
	margin-top: 40px;
}


.no_name{
	float:left;
	text-align: left;
	margin-top: 35px;   
}


.client h3{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 35px 0px 0px 262px;	
}
.client p{
	font-size: 14px;
	margin: 10px 0px 0px 262px;
}

.website h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 35px 0px 0px 262px;
}
 .website p{
 	font-size: 14px;
	margin: 10px 0px 0px 262px;
}
.visit:hover{
	transform: scale(1.1);
}
.visit:active{
	transform: scale(1.0);
}


.name_pr h2{

 	font-size: 20px;
 	font-weight: bold;
 	margin: 35px 0px 0px 0px;
 	padding-left: 30px;
}
.name_pr p{
 	font-size: 18px;
 	margin-top: 5px;
 	text-align: left;
 	padding-left: 30px;
}

.visit {
 	border: 2px solid #00b6af;
 	border-radius: 5px;
 	margin: 10px 0px 0px 262px;
 	background: #00b6af;
 	padding: 5px 10px;	
}
.visit a{
	color: #ffffff;
	text-transform: uppercase;
 	font-size: 20px;
}

.price {
	width: 100%;
	height: 100%;
}

.inform_4 {
	float: left;	 
}
.inform_4 h2 {
	font-size: 26px;
	font-weight: bold;
	margin: 200px 350px 0px 350px;
	color: #102031;
}
.payment h3{
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 50px 100px 0px 100px;
	text-align: left;
	color: #101f31;
}

.table select{
	border: 1px solid #efefef;
	background: #efefef;
	margin: 20px 0px 0px 100px;
	width: 700px;
	height: 50px;
	font-size: 12px;
	color: #7e7e7e;
	font-weight: bold;
	padding-left: 20px;
}

.table select{
	transition:  0.2s;
}
.table select:hover{
	background: #e7ccab;
	transform: scale(1);
}



.in_total{
	border-top: 3px solid #efefef; 
	margin: 35px 129px 0px 100px;
}

.in_total p{
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #102032;
}

.statistics{
	width: 100%;
	height: 65%;
	background: url("../img/фон2.jpg") center/cover no-repeat;
	background-attachment: fixed;
	margin-top:150px; 
}

.inform_5{
	float: left;
	margin: 63px 650px 0px 650px;
	text-align: center;
}
.inform_5 h3{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #283c4f;
}

.inform_5 img{
	margin-top: 30px;
}

.number{
	float:left;
	margin: 80px;
	margin-top: 150px;
	text-align: center;
	font-size: 18px;
	opacity: 0;
	animation: achieve 2s ease forwards;
	animation-delay: 6s;
}


@keyframes achieve{
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.animate__backInRight{
   animation-duration: 2s;
   animation-iteration-count:1;
}

.number:nth-child(2){
	animation-delay: 0s;
}

.number:nth-child(3){
	animation-delay: 2s;
}

.number:nth-child(4){
	animation-delay: 4s;
}




.number p {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #283b4e;
	margin-top: 30px;
}

.reviews {
	width: 100%;
	height: 70%;
}
.inform_6{
	margin: 100px 500px 0px 500px;
	text-align: center;
}
.inform_6 h3 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.animate__shakeY{
	animation: 1.3s ease alternate infinite;
}

.inform_6 img {
	margin: 30px 0px 60px 0px;
}
.inform_6 p{
	margin: 0px 0px 20px 0px;
	font-size: 14px;
	text-align: center;
}
.new_element {
	text-align: center

}
.new_element img {
	padding-right: 13px;
    margin-top: 30px;
}

.my_contacts {
	width: 100%;
	height: 100%;
	background: url("../img/Фон3.jpg") center/cover no-repeat;
}
.inform_7 {
	text-align: center;
}

.animate__zoomIn{
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.inform_7 h3 {
	padding: 100px 500px 0px 500px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
}
.inform_7 img {
    margin-top: 30px;
}
.inform_7 p{
	margin: 30px;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}
.my_address{
	padding-left:475px;
}

.address {
	float:left;
	text-align: center;
	margin-top: 30px;
}
.address p{
	float:left;
	margin: 10px 40px 0px 40px; 
	font-size: 16px;
	color: #ffffff;
}


.animate__wobble{
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.message {
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;

}
.message h4 {
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 40px;
}

.feedback {
	border: 1px solid rgba(208, 214, 220, 0.8);
	background: rgba(208, 214, 220, 0.8);
	margin: 40px 10px 0px 10px;
	width: 350px;
	height: 35px;
	font-size: 12px;
	color: #5d5d5e;
	font-weight: bold;
	padding-left: 20px;
}

.feedback{
	transition:  0.2s;
}

.feedback:hover{
	transform: scale(1.1);
}
.sms {
	border: 1px solid rgba(208, 214, 220, 0.8);
	background: rgba(208, 214, 220, 0.8);
	margin: 15px 0px 0px 0px;
	width: 722px;
	height: 100px;
	font-size: 12px;
	color: #5d5d5e;
	font-weight: bold;
	padding: 10px 0px 0px 20px;
	transition:  0.2s;
}
.sms:hover{
	transform: scale(1.1);
}

.send {
	border: 2px solid #ffffff;
	border-radius: 5px;
	background: none;
	font-size: 16px;
	color: #ffffff;
	margin-top: 25px;
	padding: 10px 15px;
	transition:  0.2s;
}

.send:hover{
	transform: scale(1.1);
}
.send:active{
    transform: scale(1.0);
} 



footer {
	width: 100%;
	height: 100px;
	margin-top:315px;
	background: #2b3e51;
	text-align: center;

}
.the_end {
	color: #fff;
	font-size: 24px;
	line-height: 80px;
    text-align: center;
    padding-left:100px;
}

