body{
	font-family: Arial, sans-serif;
}
nav {
	width: 100%;
	height: 60px;
	background: #2b3e51
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 386px;
	float:left;	
}

.menu{
	float:left;
	padding-left: 420px;	
}

.menu li{
	float:left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 14px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background:url("../img/парень.png") 90% 100%/auto 85% no-repeat , url("../img/фон.png") center/cover no-repeat;
}

.title_container{
	float: left;
	margin: 432px 0px 0px 404px;
	color: #21354a;
	text-align: center;
}

.title_container h1{
	font-size: 60px;
	font-weight: bold;	
}

.title_container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #76828f;
}

.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #697784;
	border-radius: 5px;
	background: none;
	color: #697784;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
}

.about_me{
	width: 100%;
	height: 90%;	
}

.inform{
	float: left;
	margin: 109px 500px 0px 500px;
	text-align: center;
}

.inform h3{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}

.picture_1{
	margin-top: 30px;
}

.picture_2{
	margin-top: 60px;
}

.inform p{
	margin: 20px;
	font-size: 12px;
	text-align: left;
}

.resume{
	float: left;
	margin:40px 0px 0px 765px;
	text-align: center;
	border: 2px solid #697784;
	border-radius: 5px;
	color: #697784;
	padding: 0px 10px;
	margin-top: 20px;
	width: 160px;
	height: 30px;
}

.resume input{
	font-size: 14px;
	color: #697784;
	text-align: center;
	background: none;
	height: 30px; 
}

.picture_3{
	padding-top: 7px;
}

.i_can{
	width: 100%;
	height: 80%;
	background: url("../img/картинка фона.png") center/cover no-repeat;	 
}


.inform_2{
	float: left;
	margin: 109px 700px 0px 750px;
	text-align: center;
}
.inform_2 h3{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.picture_4{
	margin-top: 30px;
}

.item_skills {
	float:left;
	margin: 150px 80px;
	text-align: center;
	font-size: 18px;
}	

.item_skills h4{
	font-size: 20px;
	font-weight: bold;
	color: #e87600;
	margin-top: 30px;
}	

.item_skills p{
	margin-top: 25px;
}

.case{
	width: 100%;
	height: 100%;
}

.inform_3{	
	margin: 109px 700px 0px 700px;
	text-align: center;
}
.inform_3 h3{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.inform_3 img{
	margin-top: 30px;
}	

.lorem{
	font-size: 14px;
	text-align: center;
	margin-top: 30px;
}
.lorem img{
	margin-top: 40px;
}


.no_name{
	float:left;
	text-align: left;
	margin-top: 35px;   
}


.client h3{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 35px 0px 0px 262px;	
}
.client p{
	font-size: 14px;
	margin: 10px 0px 0px 262px;
}

.website h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 35px 0px 0px 262px;
}
 .website p{
 	font-size: 14px;
	margin: 10px 0px 0px 262px;
}

.name_pr h2{

 	font-size: 20px;
 	font-weight: bold;
 	margin: 35px 0px 0px 0px;
 	padding-left: 30px;
}
.name_pr p{
 	font-size: 18px;
 	margin-top: 5px;
 	text-align: left;
 	padding-left: 30px;
}

.visit {
 	border: 2px solid #00b6af;
 	border-radius: 5px;
 	margin: 10px 0px 0px 262px;
 	background: #00b6af;
 	padding: 5px 10px;	
}
.visit a{
	color: #ffffff;
	text-transform: uppercase;
 	font-size: 20px;
}

.price {
	width: 100%;
	height: 100%;
}

.inform_4 {
	float: left;	 
}
.inform_4 h2 {
	font-size: 26px;
	font-weight: bold;
	margin: 200px 350px 0px 350px;
	color: #102031;
}
.payment h3{
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 50px 100px 0px 100px;
	text-align: left;
	color: #101f31;
}

.table select{
	border: 1px solid #efefef;
	background: #efefef;
	margin: 20px 0px 0px 100px;
	width: 700px;
	height: 50px;
	font-size: 12px;
	color: #7e7e7e;
	font-weight: bold;
	padding-left: 20px;
}

.in_total{
	border-top: 3px solid #efefef; 
	margin: 35px 129px 0px 100px;
}

.in_total p{
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #102032;
}

.statistics{
	width: 100%;
	height: 50%;
	background: url("../img/фон2.png") center/cover no-repeat;
	margin-top:150px; 
}

.inform_5{
	float: left;
	margin: 63px 650px 0px 650px;
	text-align: center;
}
.inform_5 h3{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #283c4f;
}

.inform_5 img{
	margin-top: 30px;
}

.number{
	float:left;
	margin: 80px;
	margin-top: 100px;
	text-align: center;
	font-size: 18px;
}

.number p {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #283b4e;
	margin-top: 30px;
}

.reviews {
	width: 100%;
	height: 70%;
}
.inform_6{
	margin: 100px 500px 0px 500px;
	text-align: center;
}
.inform_6 h3 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.inform_6 img {
	margin: 30px 0px 60px 0px;
}
.inform_6 p{
	margin: 0px 0px 20px 0px;
	font-size: 14px;
	text-align: center;
}
.new_element {
	text-align: center

}
.new_element img {
	padding-right: 13px;
    margin-top: 30px;
}

.my_contacts {
	width: 100%;
	height: 100%;
	background: url("../img/фон3.png") center/cover no-repeat;
}
.inform_7 {
	text-align: center;
}
.inform_7 h3 {
	padding: 100px 500px 0px 500px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
}
.inform_7 img {
    margin-top: 30px;
}
.inform_7 p{
	margin: 30px;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}
.my_address{
	padding-left:475px;
}

.address {
	float:left;
	text-align: center;
	margin-top: 30px;
}
.address p{
	float:left;
	margin: 10px 40px 0px 40px; 
	font-size: 16px;
	color: #ffffff;
}
.message {
	float: left;
	width: 100%;
	height: 100%;
	text-align: center;

}
.message h4 {
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 40px;
}

.feedback {
	border: 1px solid rgba(208, 214, 220, 0.8);
	background: rgba(208, 214, 220, 0.8);
	margin: 40px 10px 0px 10px;
	width: 350px;
	height: 35px;
	font-size: 12px;
	color: #5d5d5e;
	font-weight: bold;
	padding-left: 20px;
}

.sms {
	border: 1px solid rgba(208, 214, 220, 0.8);
	background: rgba(208, 214, 220, 0.8);
	margin: 15px 0px 0px 0px;
	width: 722px;
	height: 100px;
	font-size: 12px;
	color: #5d5d5e;
	font-weight: bold;
	padding: 10px 0px 0px 20px;
}
.send {
	border: 2px solid #ffffff;
	border-radius: 5px;
	background: none;
	font-size: 16px;
	color: #ffffff;
	margin-top: 25px;
	padding: 10px 15px;
}

footer {
	width: 100%;
	height: 100px;
	margin-top:315px;
	background: #2b3e51;
	text-align: center;

}
.the_end {
	color: #fff;
	font-size: 24px;
	line-height: 80px;
    text-align: center;
    padding-left:100px;
}

